<section id = "whole" class = "container">

	<h1 class = "display-1">Boîte de réception</h1>

	 <section id = "mytable" class = "row">
	 	<div class = "col-lg-5 col-sm-4 myobjects">
	 		<h2 class = "row title">Object :</h2>
	 		<div class = "allobj"> 
	 			<div class="container">
      				<% flash.each do |key, value| %>
        				<div class="alert alert-<%= key %>"><%= value %></div>
      				<% end %>
    			</div> 
	 		    <% @emails.each do |email| %>  
	 		     	<%= link_to email, remote: true, method: :get, :id => "objectcase-"+ email.id.to_s, :class => "item-"+ email.id.to_s do %>
		   	      		<div class = "row%>">      	
			           		<p class = "thisobject thisobject-<%= email.id%>"> <%= email.object%></p>
			             	<div class = "date">
			         	    	<p><%= email.created_at.strftime("%d/%m/%Y at %I:%M%p") %></p>
				         		<div class="read-<%= email.id %>">
							        <% if email.read %>
							         	<p class = "yes">&nbsp;- Lu</p>
							        <% else %>
							         	<p>&nbsp;-  Non-lu </p>
							        <%end%>
			                   	</div>
			              	</div>
		          		</div>
		          	<% end %>
	 		    <% end %>
	 	    </div>	
	 	</div>

 		<div class = "col-lg-5 col-sm-8 myemails">
 			<h2 class = "row title">Content :</h2>
 			<% @emails.each do |email| %>
				<div class = "row emailcontent item-<%= email.id %>">
			    	<div class = "body inbox-<%=email.id%>">
			    		<h3 class = "emailobj">Obj : <%=email.object%></h3>
			    		<p><%=email.body%></p> <br>
			        		<%= link_to 'Delete', email, method: :delete, data: { confirm: 'Confirmez-vous la suppression de cet email ?'}, :class => 'delete_email', :remote => true%>
			    	</div>
			  	</div>
			<% end %>
 		</div>

	</section> 
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</section>